<!DOCTYPE html>
<html class="full-height">
  <head>
    <title>Ushio - Home</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/favicon.png" type="image/png" sizes="48x48">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="description" content="Ushio Bot - Official Website✔️">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Ushio - Discord Bot">
    <meta property="og:description" content="Ushio is a growing Discord Bot! Join the Official Ushio Discord-Server!">
    <meta property="og:image" content="https://cdn.glitch.com/22c36159-6011-4e65-b2fd-44373c84d975%2Fandroid-icon-192x192.png?1523133828297">
    <meta property="og:url" content="http://ushio.ml/">
    <meta charset="utf-8">
  </head>
  <body class="fixed-sn" background="/img/bground.jpg">
    <nav class="navbar navbar-expand-md navbar-dark grey darken-3 fixed-top">
      <a class="navbar-brand" href="/"><font color="#4169e1"><big>Ushio</big></font></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
     <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/server">Official Server✔️</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="/commands">Commands🔮</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="/events">Events🎉</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/comingsoon"><font color="#ffd700">Premium </font><span class="badge badge-danger">Coming!</span></a>
          </li>
        </ul>
        <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex"></ul>
<ul class="nav navbar-nav navbar-right">
      <li>
        <a class="nav-link" href="https://discord.io/anime_lounge"><font color="#ff0000">Bugs🐞</font></a>
</li>
    </ul>
      </div>
    </nav>
<div class="container"></div>
    <header>
        <div class="full-bg-img">
          <div class="container flex-center">
            <div class="row pt-3 mt-2">
              <div class="col-md-12 wow fadeIn mb-3">
                <div class="text-center white-text">
                  <ul>
                    <li>
                      <p>
                        &nbsp;
                      </p>
                          <p>
                        &nbsp;
                      </p>
                          <p>
                        &nbsp;
                      </p>
                      <img class="roudned mx-auto" src="/img/kawaiicon.png" alt="Thumbnail">
                    </li>
                    <li>
                      <h1 class="display-4 font-bold mb-4 wow fadeInUp"><font color="#4169e1">Ushio ウシオ</font></h1>
                    </li>
                    <li>
                      <h5 class="mb-5 wow fadeInUp" data-wow-delay="0.2s" style="color: white"><big><strong>Anime, Music, Moderation, Information, NSFW, Economy and Fun!</strong></big></h5>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
    </header>
    <div class="footer">
        <p>&copy;Yuu#0523</p>
    </div>
  </body>
</html>	
